:root{
    --LIGHTPURPLE: #DABFFF;
    --PURPLE1: #907AD6;
    --PURPLE2: #966b9d;
    --GREYPURPLE: #4F518C;
    --DARKPURPLE: #2C2A4A;
    --SKYBLUE: #7FDEFF;

    --OLDROSE: #C98686;
    --FAWN: #F2B880;
    --CHANPAGNEPINK: #E7CFBC;
    --POMPANDPOWDER: # 966B9D;
}